
#contents .ranking_wrap{width: 100%; margin: 0 auto 80px;}
.ranking_wrap .title div{display: inline-block; margin-left: 15px;}
.ranking_wrap .title div p{display: inline-block; font-size: 15px; color: #999999;}
.ranking_wrap .title div p.on{font-weight: bold;}

.ranking_wrap .ranking{width: 100%; margin: 0 auto;}
.ranking .rank_list{position: relative; width: 100%; height: 48px; border: 1px solid #f3213b; border-radius: 5px; overflow: hidden;}
.rank_list li{position: absolute; line-height: 48px; padding-left: 20px;}
.rank_list li:nth-child(1){top: 0;}
.rank_list li:nth-child(2){top: 100%;}
.rank_list li:nth-child(3){top: 200%;}
.rank_list li:nth-child(4){top: 300%;}
.rank_list li:nth-child(5){top: 400%;}
.rank_list li:nth-child(6){top: 500%;}
.rank_list li:nth-child(7){top: 600%;}
.rank_list li:nth-child(8){top: 700%;}
.rank_list li:nth-child(9){top: 800%;}
.rank_list li:nth-child(10){top: 900%;}

.rank_list li span{display:inline-block; font-style: italic; margin-right: 12px; cursor: default;}
.rank_list li img.up_down{display: inline-block; padding-bottom: 3px;}
.rank_list li a{display: inline-block; margin-left: 12px;}

.ranking .ranking_item_wrap{position: relative; width: 100%; height: 408px; margin-top: 10px; overflow: hidden;}
.ranking_item_wrap .ranking_item{position: absolute; display: flex; width: 100%; height: 100%;}
.ranking_item:nth-child(1){top: 0;}
.ranking_item:nth-child(2){top: 100%;}
.ranking_item:nth-child(3){top: 200%;}
.ranking_item:nth-child(4){top: 300%;}
.ranking_item:nth-child(5){top: 400%;}
.ranking_item:nth-child(6){top: 500%;}
.ranking_item:nth-child(7){top: 600%;}
.ranking_item:nth-child(8){top: 700%;}
.ranking_item:nth-child(9){top: 800%;}
.ranking_item:nth-child(10){top: 900%;}
.ranking_item .item_box{width: 267px; margin-right: 22px;}
.ranking_item .item_box:last-child{margin-right: 0%;}
.ranking_item .item_box a{display: block;}
.ranking_item .item_box a img{width: 100%; height: 100%; border: 1px solid #eeeeee; border-radius: 5px;}
.ranking_item .item_box a .brand{font-size: 11px; color: #999999;}
.ranking_item .item_box a .product{height: 38px; font-size: 13px; letter-spacing: -1px;}
.ranking_item .item_box .price{font-size: 18px; font-weight: bold; margin-bottom: 15px;}
.ranking_item .item_box .price .sell{display: inline; color: #f3213b;}
.ranking_item .item_box .price>p{display: inline-block;}
.ranking_item .item_box .tag{display: inline-block; padding: 6px 10px; background: #f1f5fb; border-radius: 12px; font-size: 12px; letter-spacing: -1px;}